numpy==1.18.1
opencv-python==4.1.0.25
pandas==0.25.0
numba
tqdm==4.31.1
yacs==0.1.6
seaborn==0.9.0
jupyter==1.0.0
lmdb==0.94
pillow-simd
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.1.0
tensorboard==1.14.0
tensorboardX==1.7
tensorflow==1.14.0
opencv-python==4.1.0.25
colormath
onnx==1.5.0
thop

